input[type='text'],
input[type='number'] {
  font-size: 16px;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  outline: none;
  transition: 0.5s;
}

input[type='text']:focus {
  border: 1px solid #0061b6;
}

input[type='number']:focus {
  border: 1px solid #0061b6;
}
