.container {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}

ul > li.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 250px;
  max-width: 250px;
  padding: 10px;
  margin: 0px 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

ul > li.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

li > .description {
  flex-shrink: 0;
}
li .image {
  background: url('https://picsum.photos/200/300') 50% 50% repeat;
  height: 200px;
  width: 250px;
}

li .actions {
  display: flex;
  justify-content: flex-end;
}

li .actions button {
  margin: 5px;
}
