button {
  width: 90px;
  height: 36px;
  font-family: 'Roboto', Helvetica 'Neue', sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-stretch: 100%;
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  border-radius: 10px;
  transition: 0.3s;
}

button.btn-primary {
  background-color: #337ab7;
}
button.btn-primary:hover {
  background-color: #0061b6;
}

button.btn-danger {
  background-color: crimson;
}

button.btn-stroke {
  color: #333;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.12);
  line-height: 34px;
}

button:hover {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

button.btnCreate {
  width: 90px;
  height: 40px;
}
