.form-container {
  font-size: 20px;
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  margin: 0 auto;
  border: 1px solid rgba(15, 90, 230, 0.781);
  box-shadow: 0 8px 16px 0 rgba(15, 90, 230, 0.781);
}

.actions {
  display: flex;
  justify-content: flex-start;
}

.actions button {
  margin: 10px;
}
